In [2]:
import sqlite3
import pandas as pd

In [3]:
db = sqlite3.connect("mental_health.sqlite")

# Mission 1: General Exploration

# 1st Challenge:

In [43]:
query = """
        SELECT SurveyID AS Year, COUNT(DISTINCT QuestionID) AS QuestionsCount
        FROM Answer
        GROUP BY SurveyID
        ORDER BY 1
        """
query2 = """
        SELECT SurveyID AS Year, Description AS SurveyDescription
        FROM Survey
        GROUP BY SurveyID
        ORDER BY 1
        """
df = pd.read_sql(query, db)
df2 = pd.read_sql(query2, db)
res = pd.concat([df,df2])
print(res)

   Year  QuestionsCount              SurveyDescription
0  2014            26.0                            NaN
1  2016            60.0                            NaN
2  2017            76.0                            NaN
3  2018            76.0                            NaN
4  2019            76.0                            NaN
0  2014             NaN  mental health survey for 2014
1  2016             NaN  mental health survey for 2016
2  2017             NaN  mental health survey for 2017
3  2018             NaN  mental health survey for 2018
4  2019             NaN  mental health survey for 2019

# 2nd Challenge:

In [44]:
query = """
       SELECT questionid FROM Question WHERE questiontext LIKE '%Describe%'
        """
describe_df = pd.read_sql(query, db)
print(describe_df)

   questionid
0          59
1          61
2          63
3          71
4          73
5          75
6          82
7          84
8          86
9         117

# 3rd Challenge:

In [45]:
query = """
        SELECT Question.questiontext AS question, Answer.AnswerText AS answer FROM Question JOIN Answer ON Question.questionid = Answer.QuestionID
        GROUP BY Question.questiontext
        """
df = pd.read_sql(query, db)
print(df.head())

                                            question                    answer
0                   Any additional notes or comments  you rock for doing this!
1  Are you openly identified at work as a person ...                         1
2                             Are you self-employed?                         1
3  Briefly describe what you think the industry a...                 ¯\(°_o)/¯
4  Describe the circumstances of the badly handle...     they told iresposible

# 4th Challenge:

In [46]:
query = """
        SELECT Question.questiontext AS question, Answer.AnswerText AS answer FROM Question JOIN Answer ON Question.questionid = Answer.QuestionID
        GROUP BY Question.questiontext
        """
df = pd.read_sql(query, db)
print(df.head())

                                            question                    answer
0                   Any additional notes or comments  you rock for doing this!
1  Are you openly identified at work as a person ...                         1
2                             Are you self-employed?                         1
3  Briefly describe what you think the industry a...                 ¯\(°_o)/¯
4  Describe the circumstances of the badly handle...     they told iresposible

# 5th Challenge:

In [60]:
q = """SELECT question.questiontext AS question, 
answer.AnswerText AS answer, answer.SurveyID as year,
answer.UserID AS user_id, answer.QuestionID AS question_id FROM
question JOIN answer ON question.questionid = answer.QuestionID 
WHERE question.questionid IN (1, 2, 3, 6, 20, 52, 79, 89, 113, 118)"""
df = pd.read_sql(q, db)
print(df.head())

            question answer  year  user_id  question_id
0  What is your age?     -1  2014      391            1
1  What is your age?     -1  2014      716            1
2  What is your age?     -1  2014     1128            1
3  What is your age?     -1  2017     3447            1
4  What is your age?     -1  2017     3449            1

# 6th Challenge:

In [59]:
q = """SELECT AnswerText FROM question 
JOIN answer ON question.questionid = answer.QuestionID
WHERE question.questionID = 6"""
df = pd.read_sql(q, db)
print(df.head())

     AnswerText
0  I don't know
1  I don't know
2  I don't know
3  I don't know
4  I don't know

# Mission 2: Age and Gender Analysis

# 1st Challenge:

In [71]:
q = """
       DELETE from Answer where AnswerText = '-1'
        """
cursor = db.cursor()
cursor.execute(q)
result = cursor.rowcount
print(result)

0

## 2nd Challenge:

In [61]:
query = """
       SELECT questionid FROM Question WHERE questiontext LIKE '%Age%'
        """
Age_df = pd.read_sql(query, db)
print(Age_df)
print()
query = """
       SELECT questionid FROM Question WHERE questiontext LIKE '%Gender%'
        """
Gender_df = pd.read_sql(query, db)
print(Gender_df)

   questionid
0           1
1          10
2          11
3          14
4          20
5          27
6          55

   questionid
0           2

# 3rd Challenge:

# 4th Challenge:

# 5th Challenge:

# 6th Challenge:

In [48]:

query = """
        WITH UserAge AS (
        SELECT UserID, CAST(AnswerText AS int) As Age
        FROM Answer
        WHERE QuestionID = 1 AND Age >= 18
        ORDER BY 2
        ),
        AgeGroup AS (
        SELECT UserID, 
            (CASE
                WHEN Age <= 25 THEN "18-25"
                WHEN Age > 25 AND Age <= 35 THEN "26-35"
                WHEN Age > 35 AND Age <= 45 THEN "36-45"
                WHEN Age > 45 AND Age <= 55 THEN "46-55"
                WHEN Age > 55 THEN "> 55"
            END) AS AgeGroup
        FROM UserAge
        )
        SELECT AgeGroup, COUNT(DISTINCT UserID) AS Cnt
        FROM AgeGroup
        GROUP BY 1
        """

AgeGroup_df = pd.read_sql(query, db)
print(AgeGroup_df)

  AgeGroup   Cnt
0    18-25   541
1    26-35  2144
2    36-45  1162
3    46-55   284
4     > 55    74